*{
    overflow-x: hidden;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: #101010;
    word-spacing: 0.25rem;
}

::selection {
    color: black;
    background: #ffc100;
}
  
.neon-yellow {
      color: #ffc100;
}




.about-us-padding {
    padding: 0 2rem 1rem 4rem;
}
    
.small-head {
    font-weight:900; 
    font-size: 1.2rem;
}

.working-heading {
  color:white; 
  font-size:2.3rem; 
  font-weight:1000;
}

.small-subtext {
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.about-image {
    height: 90%;
    width: 90%; /*57rem;*/
    padding: 0 0 0 2rem;
    /*background-color: pink;*/
}


  @media only screen and (max-width: 767px) {
    
    .about-us-padding {
        padding: 0 2rem 1rem 3rem;
    }

    .working-heading {
      font-size: 1.5rem;
    }

    .small-subtext {
      font-size: 0.9rem;
    }
  }

  @media only screen and (max-width: 375px) {
  
    .about-us-padding {
      padding: 0 1.5rem 1rem 1.5rem;
    }
    
    .small-subtext {
      font-size: 0.7rem;
    }

    .about-image {
      height: 95%;
      width: 95%; /*57rem;*/
      padding: 0 0 0 1rem;
      /*background-color: pink;*/
  }
    
  }