*{
    overflow-x: hidden;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: #101010;
    word-spacing: 0.25rem;
}

::selection {
    color: black;
    background: #ffc100;
}
  
.neon-yellow {
      color: #ffc100;
}






.working-heading {
    color:white; 
    font-size:2.3rem; 
    font-weight:1000;
    /*text-align:center;*/
}

.working-heading-2 {
  color:white; 
  font-size:2rem; 
  font-weight:1000;
  /*text-align:center;*/
}

.small-subtext {
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

/* .card-padding-left {
  padding: 0 0 0 4.3rem;
}
.card-padding-middle {
  padding: 0 0 0 2rem;
}
.card-padding-right {
  padding: 0 0 0 0;
} */

.txt-align {
  text-align: left;
}

.crd-style {
  height: 12rem; 
  width: 18rem;
  border: 0.1rem solid white;
  border-radius: 0.6rem;
}

.inter-crd-style {
  height: 11rem; 
  width: 16rem;
  border: 0.1rem solid white;
  border-radius: 0.6rem;
}

.date-style {
  font-weight:900;
  font-size: 1rem;
  padding: 0.8rem 0 0.2rem 0;
} 

.working-heading {
  color:white; 
  font-size:2.4rem; 
  font-weight:1000;
}

  

  @media only screen and (max-width: 767px) {
    
    .working-heading {
        font-size: 1.5rem;
    }
    .working-heading-2 {
      font-size: 1.2rem;
    }

    .small-subtext {
        font-size: 0.9rem;
    }

    .card-padding-left {
      text-align:center;
    }
    .card-padding-middle {
      text-align:center;
    }
    .card-padding-right {
      text-align:center;
    }
    
  }

  @media only screen and (max-width: 375px) {
  
    .working-heading {
      font-size: 1.6rem;
  }
  .working-heading-2 {
    font-size: 1.5rem;
  }
    .small-subtext {
        font-size: 0.7rem;
    }
    
    
    
  }