*{
  overflow-x: hidden;
}
body {
  font-family: 'Nunito', sans-serif;
  background-color: #101010;
  word-spacing: 0.25rem;
  color: white;
}

::selection {
  color: black;
  background: #ffc100;
}

.neon-yellow {
    color: #ffc100;
}


h3 {
  font-size: 6rem;
  color: red;
  font-weight: bold;
  margin-bottom: 2.5rem;
  margin-left: 1.45rem;
  overflow-y: hidden;
  padding: 0 1rem 0 1rem;
}
/* .fas {
  padding: 0 1rem 0 1rem;
  font-size: 1.5rem;
} */
p {
  padding: 0 1rem 0 1rem;
  font-size: 1.5rem;
}
.row {
  margin-bottom: 8.5rem;
}
