/* .navbar {
    padding:1rem 2rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    margin-bottom: 20px;
    background-color: #101010;
  }
  
  .nav-item {
    padding: 0 18px 18px 0;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-weight: 400;
  
  }
 */





  

  .nav-item :hover{
    color: #ffc100;
    cursor: pointer;
    background-color: #101010;
}

  .navbar a{
      color: #ffc100;
  }


.navbar {
    padding:1rem 2rem;
    position: fixed;
    z-index: 100;
    width: 100%;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #101010;
  }
  
  .nav-item {
    padding: 0 18px 0 0;
  }
  
  .nav-link {
    font-size: 1.2rem;
    font-weight: 400;
  
  }


  .dropdown-item, .dropdown-menu  {
    background-color: #101010;
    color: white;
    margin: 0;
}

.dropdown-menu:hover{
    display: block;
    color: #101010;
    background: transparent;
    /* z-index: 100; */
}


.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #101010;
    z-index: 1000;
  }
  
  .dropdown-menu a {
    color: white;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }