*{
    overflow-x: hidden;
}
body {
    font-family: 'Nunito', sans-serif;
    background-color: #101010;
    word-spacing: 0.25rem;
}

::selection {
  color: black;
  background: #ffc100;
}

.neon-yellow {
    color: #ffc100;
  }

  .head{
      margin: 40px;
  }
  .team{
      color: #ffc100;
      font-size: 40px;
      font-weight: bold;
  }

  .para{
      color: white;
      font-weight: 550;
  }

  .teams{
      color: white;
      margin-top: 30px;
      font-weight: 550;
  }

  .anmol, .shashank, .priya{
      height: 100px;
  }

  .name{
    margin-top: 20px;
    color: white;
  }
  .name, .desig {
    font-weight: bold;
    font-size: medium;
  }

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .desig{
    color: #ffc100;
    font-size: small;
    margin-bottom: 80px;
}

.photo, .name, .desig {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  @media only screen and (max-width: 767px) {
    .photo{
        flex-direction: column;
      }
  }